<mat-toolbar color="primary" class="example-toolbar">
  <mat-toolbar-row>
    <button mat-icon-button (click)="toggleBars()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">Responsive App</h1>
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="belowMenu">
      <mat-icon>person_pin</mat-icon> {{ usuario.displayName }}
    </button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
      <mat-list>
        <mat-list-item> <a [routerLink]="['/Log']">Ajustes</a></mat-list-item>
        <mat-list-item> <a [routerLink]="['/Log']">Perfil</a></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <a [routerLink]="" role="button" (click)="logOut()"
            >Cerrar Sesión</a
          ></mat-list-item
        >
      </mat-list>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
