/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/@sweetalert2/themes/dark/dark.css";

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
section {
  height: 100vh;
  width: 100%;
}

ul,
ol,
li {
  list-style: none;
  text-decoration: none !important;
}

a {
  list-style: none;
  text-decoration: none !important;
}

.full-width {
  width: 100% !important;
}

label {
  margin-bottom: 0px !important;
}

.mat-button {
  padding: 0px !important;
}

.mat-button:hover {
  background: transparent !important;
}

.space-full-xs {
  width: 100%;
  margin: 0.4rem;
}

mat-tab-group {
  -webkit-box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.6);
  border-radius: 5px !important;
  margin-top: 4em;
  min-width: 450px !important;
}

mat-label {
  margin-top: 20px !important;
}

.mat-card-header-text {
  margin-left: 0 !important;
  padding-top: 5px !important;
}

mat-pass-toggle-visibility > .mat-icon-button {
  padding-top: 10px !important;
  color: grey !important;
}

.title-class {
  color: #fff !important;
  font-size: 20px !important;
  font-weight: 600 !important;
}

.content-class {
  color: #f6f6f6 !important;
  font-size: 17px !important;
}

.example-spacer {
  flex: 1 0.9 auto;
}

.mat-list-item:hover {
  background: #0d47a1 !important;
}

.mat-list-item .mat-list-item-content a {
  color: grey !important;
}

.mat-list-item .mat-list-item-content:hover a {
  color: white !important;
}

#sidebar {
  display: block;
  background-color: #232323;
  width: 240px;
  height: 100% !important;
}

#auth-providers {
  background-color: #fff;
}

.merge-left {
  width: 0px !important;
}

.build-icon {
  font-size: 18px !important;
}

.mat-tab-labels {
  background-color: #fff !important;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}

.mat-tab-header-pagination {
  background-color: #fff !important;
}
