/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/@sweetalert2/themes/dark/dark.css";

.full-width {
  width: 100% !important;
}

label {
  margin-bottom: 0px !important;
}

.mat-button {
  padding: 0px !important;
}

.mat-button:hover {
  background: transparent !important;
}

.space-full-xs {
  width: 100%;
  margin: 0.4rem;
}

mat-tab-group {
  -webkit-box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.6);
  border-radius: 5px !important;
}

mat-label {
  margin-top: 20px !important;
}

.mat-card-header-text {
  margin-left: 0 !important;
  padding-top: 5px !important;
}

mat-pass-toggle-visibility > .mat-icon-button {
  padding-top: 10px !important;
  color: grey !important;
}

.title-class {
  color: #fff !important;
  font-size: 20px !important;
  font-weight: 600 !important;
}
.content-class {
  color: #f6f6f6 !important;
  font-size: 17px !important;
}
